.create-project-dialog {

  .title {
    padding-bottom: 0;
  }

  .create-project-dialog-content {
    .divider {
      margin: 10px 0;
    }

    .subheader {
      margin: 0 0 10px 0;
    }

    div~.subheader {
      margin: 20px 0 5px 0;
    }

    .checkbox {
      margin-top: 10px;
    }

    .config-inputs {
      margin: 10px 0 25px 0;

      .form-control {
        min-width: 120px;
        margin: 5px 15px 5px 0;
      }
    }
  }
}
